* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f4ed;
    color: #2e2e2e;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #000;
    padding: 15px 0;
}

.logo img {
    height: 50px;
}

nav ul {
    display: flex; /* Элементы навигации в строку */
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 50px;
}

.program .btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.program .btn:hover {
    background-color: #a7a1a1;
}

.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
    padding: 50px 0;
    overflow: visible;
}

.hero-content {
    color: #f5e8d7;
    max-width: 50%;
}

.hero-content h1 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
    font-family: 'serif';
}

.hero-content p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
    color: #d3c7b8;
}

.hero .btn {
    background-color: transparent;
    display: inline-block;
    margin-top: 20px;
    position: relative;
}

.hero .voucher {
    color: #f7f2f2;
    border-radius: 20px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.hero .voucher img.siels {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.hero-image-wrapper {
    position: relative;
}

.hero-image {
    position: absolute;
    bottom: 100px;
    top: -250px;
    right: -120px;
    width: 800px;
    height: auto;
    z-index: 2;
}

/* Стили для блока features */
.features {
    background-color: #ECD8BD;
    padding: 30px 0;
    position: relative;
    z-index: 1; /* z-index блока features должен быть меньше, чем у изображения */
}

.features .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 0;
    padding-left: 30px;
}

.feature-item {
    text-align: center;
    flex: 1;
}

.feature-item img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 16px;
    color: #0c0c0c;
    margin: 0;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-image {
        position: static;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .features .container {
        width: 100%;
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .feature-item {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .feature-item img {
        width: 60px;
        height: 60px;
    }

    .feature-item p {
        font-size: 14px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li a {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-content h1 {
        font-size: 44px;
    }

    .hero-content p {
        font-size: 17px;
    }

    .feature-item img {
        width: 80px;
        height: 80px;
    }
}